.box{
  width: 50vh;
  height: 50vh;
  margin: 50px auto;
  border: 3px solid aqua;

  &_fill {
    background-color: aqua;

  }
}

.btn {
  padding: 15px 25px;
  background-color: aqua;
  color: black;
  width: 150px;
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  transition: all 0.5s ease;

  &:hover {
    background-color: rgb(3, 191, 191);
    color: black;

  }
}